body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #565c5c; 
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.menu {
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 0 20px; /* Padding for spacing on the sides */
}

.menu .container {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex: 1; /* Allows the ul to grow and take available space */
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #fb922b;
}

.menu ul li a:hover {
    background-color: #333;
}

.favicon {
    height: 40px;
    width: auto;
    margin-right: 20px; /* Space between favicon and menu items */
}

.menu a:hover {
    background-color: #333;
}

.search-bar {
    display: flex;
    align-items: right;
    margin-left: auto; /* Pushes the search bar to the right */
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fb922b;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.search-bar button:hover {
    background-color: #0097a7;
}

header {
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 50px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(552px, 1fr)); /* Minimum size for each project */
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.project {
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%; /* Ensure project container takes up full width */
    max-width: 100%; /* Allow it to expand */
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.project iframe {
    width: 100%; /* Allow iframe to take full width */
    height: auto;
    max-width: 100%; /* Ensure iframe doesn't exceed its container */
    margin: 0; /* Remove margin to allow full width usage */
}



.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.game {
    background-color: #444;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block; 
    width: 100%; 
    box-sizing: border-box; 
}

.game h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.game p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

a {
    color: #f39c33;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #525367;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.mobile-menu.show {
    display: block;
}

.mobile-menu li {
    margin: 0;
}

.mobile-menu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fb922b;
    background-color: #333;
}

.mobile-menu li a:hover {
    background-color: #444;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu.show {
        display: block;
    }

    .project-container {
        grid-template-columns: 1fr; /* Make it a single-column layout on smaller screens */
    }

    .project iframe {
        width: 100%; /* Allow the iframe to use the full width of its container */
        max-width: none; /* Remove the 552px max-width on small screens */
    }
}

/* Hide menu items by default on small screens */
#menu-items {
    display: none; /* Hide menu items by default */
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 50px; /* Adjust based on your header height */
    left: 0;
    padding: 10px 0;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
}

/* Show menu items when the hamburger is clicked */
.menu.active #menu-items {
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #fb922b;
    margin-left: auto;
}

@media (min-width: 769px) {
    #menu-items {
        display: flex; /* Ensure menu items are shown on larger screens */
        position: static;
        width: auto;
        background-color: transparent;
        flex-direction: row;
    }

    .hamburger {
        display: none; /* Hide hamburger on larger screens */
    }
}
